<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahnu.activity_api.dao.SignInAdminDao">

<!--//    获取签到列表
    List<SignIn> GetSignInList();-->
    <resultMap id="SignInResultMap" type="SignIn">
        <id property="signInId" column="sign_in_id"></id>
        <result property="enrollId" column="enroll_id"></result>
        <result property="isSignIn" column="is_sign_in"></result>
        <result property="signInTime" column="sign_in_time"></result>
        <collection property="enroll" ofType="Enroll">
            <id property="enrollId" column="enroll_id"></id>
            <result property="userId" column="user_id"></result>
            <result property="activityId" column="activity_id"></result>
            <result property="timeId" column="time_id"></result>
            <result property="participantId" column="participant_id"></result>
            <result property="staffId" column="staff_id"></result>
            <result property="contractId" column="contract_id"></result>
            <result property="userRemarks" column="user_remarks"></result>
            <result property="publishTime" column="publish_time"></result>
        </collection>
        <collection property="activity" ofType="Activity">
            <id property="activityId" column="activity_id"></id>
            <result property="activityName" column="activity_name"></result>
        </collection>
        <collection property="time" ofType="Time">
            <id property="timeId" column="time_id"></id>
            <result property="timeName" column="time_name"></result>
            <result property="timeContent" column="time_content"></result>
        </collection>
        <collection property="participant" ofType="Participant">
            <id property="participantId" column="participant_id"></id>
            <result property="participantName" column="participant_name"></result>
            <result property="participantCard" column="participant_card"></result>
        </collection>
    </resultMap>
    <select id="GetSignInList" resultMap="SignInResultMap">
        SELECT * FROM activity_sign_in s
        LEFT JOIN activity_enroll e ON s.`enroll_id` = e.`enroll_id`
        LEFT JOIN activity_activity a ON e.`activity_id` = a.`activity_id`
        LEFT JOIN activity_time t ON e.`time_id` = t.`time_id`
        LEFT JOIN activity_participant p ON e.`participant_id` = p.`participant_id`
    </select>



<!--    //    获取签到列表根据时间id和活动id
    List<SignIn> GetSignInListByTimeIdAndActivityId(@Param("activity_id")Integer Activity_id,
                                                    @Param("time_id")Integer time_id);-->
    <resultMap id="GetSignInListByTimeIdAndActivityIdResultMap" type="SignIn">
        <id property="signInId" column="sign_in_id"></id>
        <result property="enrollId" column="enroll_id"></result>
        <result property="isSignIn" column="is_sign_in"></result>
        <result property="signInTime" column="sign_in_time"></result>
        <collection property="enroll" ofType="Enroll">
            <id property="enrollId" column="enroll_id"></id>
            <result property="userId" column="user_id"></result>
            <result property="activityId" column="activity_id"></result>
            <result property="timeId" column="time_id"></result>
            <result property="participantId" column="participant_id"></result>
            <result property="staffId" column="staff_id"></result>
            <result property="contractId" column="contract_id"></result>
            <result property="userRemarks" column="user_remarks"></result>
            <result property="publishTime" column="publish_time"></result>
        </collection>
        <collection property="activity" ofType="Activity">
            <id property="activityId" column="activity_id"></id>
            <result property="activityName" column="activity_name"></result>
        </collection>
        <collection property="time" ofType="Time">
            <id property="timeId" column="time_id"></id>
            <result property="timeName" column="time_name"></result>
            <result property="timeContent" column="time_content"></result>
        </collection>
        <collection property="participant" ofType="Participant">
            <id property="participantId" column="participant_id"></id>
            <result property="participantName" column="participant_name"></result>
            <result property="participantCard" column="participant_card"></result>
        </collection>
    </resultMap>
    <select id="GetSignInListByTimeIdAndActivityId" resultMap="GetSignInListByTimeIdAndActivityIdResultMap">
        SELECT * FROM activity_sign_in s
        LEFT JOIN activity_enroll e ON s.`enroll_id` = e.`enroll_id`
        LEFT JOIN activity_activity a ON e.`activity_id` = a.`activity_id`
        LEFT JOIN activity_time t ON e.`time_id` = t.`time_id`
        LEFT JOIN activity_participant p ON e.`participant_id` = p.`participant_id`
        WHERE a.`activity_id` = #{activity_id} and t.`time_id` = #{time_id}
    </select>

</mapper>